@import "libs/bootstrap-reboot.min";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@import 'base/variables';

* {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   margin: 0;
   padding: 0;
}

.container {
   width: 1146px;
   margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/hero';